.lorem1{
    display:grid;
    grid-template-columns: 100%;
    grid-gap:1em;
    gap: 10px;
}

.lorem1 > div{
    padding: 1.3em;
    background-color: rgb(88, 4, 4);
    color: white;
    border-radius: 12px;
}
.lorem2{
    display: grid;
    gap: 10px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "a b"
        "c d"
        "e f";
    color:white;
}

.lorem2 > div{
    padding: 1.3em;
    background-color: rgb(88, 4, 4);
    color: white;
    border-radius: 12px;
}
body{
    background-color: black;
    margin: 1em;
}

.lorem3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    color: white;

}